.menu {
  display: flex;
  justify-content: space-between;
  background: #F9F9F9;
  padding: 16px 45px;
	gap: 19px;
	flex-wrap: wrap;

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    cursor: pointer;
    transition: 0.15s ease-in-out;
		border: 1px solid #15151500;

    &:hover {
        border-bottom: 1px solid #151515;
        border-radius: 7px;
    }
  }
}
